.chat-wrapper {
  border: 1px solid #8698be;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
}

.chat-log-wrapper {
  height: 200px;
  overflow-y: scroll;
}

form {
  border-top: 1px solid #8698be;
  padding: 0.5rem;
}

.chat-log-wrapper ul {
  list-style: none;
}